<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bootstrap 5 - Login Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
:root{
  --main-bg:#948e90;
}

.main-bg {
  background: var(--main-bg) !important;
}

input:focus, button:focus {
  border: 4px solid var(--main-bg) !important;
  box-shadow: ghostwhite !important;
}

.form-check-input:checked {
  background-color: var(--main-bg) !important;
  border-color: var(--main-bg) !important;
}

.card, .btn, input{
    background-color: black;
  border-radius:0 !important;
}

</style>

<body class="main-bg">
  <!-- Login Form -->
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">Reset Password</h2>
          </div>
          <div class="card-body">
            <form method="post"> 
              <div class="mb-4">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password" name="password" />
                <p id="pass_status"></p>
              </div> 
              <div class="mb-4">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" disabled />
                <p id="error" style="color: aliceblue;"></p>
              </div>
              <!-- <div class="mb-4">
                <input type="checkbox" class="form-check-input" id="remember" />
                <label for="remember" class="form-label">Remember Me</label>
              </div> -->
              <input type="text" value="<%=token%>" name="token" hidden>
              <div class="d-grid">
                <button type="submit" disabled class="btn text-light main-bg" id = "confirm_btn">Confirm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
    const password = document.getElementById("password");
const confirmPassword = document.getElementById("confirm_password");
const error = document.getElementById("error");
const confirm_btn = document.getElementById("confirm_btn");

confirmPassword.addEventListener("input", () => {
  if (password.value !== confirmPassword.value) {
    error.innerHTML = "Passwords do not match!";
  }
  else{
    error.innerHTML = ""; 
    confirm_btn.disabled = false;
  }
});


password.addEventListener("input", () => {

 if(isPasswordStrong()=== true){
    confirmPassword.disabled = false;
    
 }
 else{
    confirmPassword.disabled = true;
 }

});




function isPasswordStrong() {
	var	password = $('#password').val();
  // Define the regular expressions for the criteria
  const lengthRegex = /.{8,}/;
  const uppercaseRegex = /[A-Z]/;
  const lowercaseRegex = /[a-z]/;
  const digitRegex = /\d/;
  const specialRegex = /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/;
  const commonPasswordRegex = /^(password|123456|12345678|1234|qwerty|12345|dragon|baseball|football|letmein|monkey|696969|abc123|mustang|michael|shadow|master|jennifer|111111|2000|jordan|superman|harley|1234567|hello)$/;
  const dictionaryWordRegex = /[a-z]{4,}/;

  // Check if the password meets the criteria
  if (!lengthRegex.test(password)) {
	$('#pass_status').text('Password should be at least 8 characters,contain at least one uppercase letter, one lowercase letter, one digit, and one special character').css('color', 'red');
    return false;
  }
  if (!uppercaseRegex.test(password)) {
	$('#pass_status').text('Password should be at least 8 characters,contain at least one uppercase letter, one lowercase letter, one digit, and one special character').css('color', 'red');
  
    return false;
  }
  if (!lowercaseRegex.test(password)) {
	$('#pass_status').text('Password should be at least 8 characters,contain at least one uppercase letter, one lowercase letter, one digit, and one special character').css('color', 'red');
  
    return false;
  }

  if (password.length > 20) {
	$('#pass_status').text('Password length should be less then 20').css('color', 'red');
  
    return false;
  }
  
  if (!digitRegex.test(password)) {
	$('#pass_status').text('Password should be at least 8 characters,contain at least one uppercase letter, one lowercase letter, one digit, and one special character').css('color', 'red');
  
    return false;
  }
  if (!specialRegex.test(password)) {
	$('#pass_status').text('Password should be at least 8 characters,contain at least one uppercase letter, one lowercase letter, one digit, and one special character').css('color', 'red');
  
    return false;
  }
  if (commonPasswordRegex.test(password)) {
	$('#pass_status').text('Password should be at least 8 characters,contain at least one uppercase letter, one lowercase letter, one digit, and one special character').css('color', 'red');
  
    return false;
  }
  if (dictionaryWordRegex.test(password)) {
	$('#pass_status').text('Password should be at least 8 characters,contain at least one uppercase letter, one lowercase letter, one digit, and one special character').css('color', 'red');
  
    return false;
  }

  // If the password passes all the checks, return true
  $('#pass_status').text('Valid Password.').css('color', 'green');
  return true;
}
</script>


</body>

</html>